.product-image[b-qauvx44p4c] {
    display: inline-block;
    vertical-align: top;
}

.product-text[b-qauvx44p4c] {
    display: inline-block;
}


.add-to-cart-button[b-qauvx44p4c] {
    background-color: #2c0041;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
