@inherits DisplayProductsBase

@foreach(var product in Products)
{
    <div class="col-sm-2">
        <div class="product">
            <img class="img-thumbnail" src="@product.ImageUrl" >
            <div class="product-text" align="center">
                <h5 class="product-name"><b>@product.Name</b></h5>
                <p class="product-information">
                    @product.Price zł<br>
                    @product.Description<br>
                </p>
            </div>
        </div>
    </div>
}
