@page "/"
@inherits HomeBase

<h2 align="center">Witaj w Shoap!</h2>
<h3 align="center">Sprawdź nasze najpopularniejsze produkty!</h3>

@if(Products == null)
{
    <h2>Ładowanie produktów...</h2>
}
else
{
    var productsToShow = Products.OrderByDescending(product => product.Visits).Take(24);
    <div class="row m-md-auto">
        <DisplayProducts Products="@productsToShow"></DisplayProducts>
    </div>
}