@page "/"
@inherits ProductsBase

@if(Products == null)
{
    <h2>Loading products...</h2>
}
else
{
    <h2 class="mb-5">Products</h2>
    var productCount = Products.Count();

    if(productCount > 0)
    {
        foreach(var product in Products)
        {
            <h3>@product.Name</h3>
            <h3>@product.Price</h3>
            <h4>@product.Description</h4>
            <br>
        }
    }
}