@page "/SignUp"
@inherits SignUpBase

<EditForm Model="@SignUpModel" OnValidSubmit="@SignUp">
    <label>Login</label><br />
    <InputText id="login" @bind-Value="SignUpModel.Login" /><br />
    <label>Hasło</label><br />
    <InputText id="password" type="password" @bind-Value="SignUpModel.Password" /><br />
    <button type="submit">Zarejestruj się</button><br />
    <label>@SignUpModel.ErrorMessage</label>
</EditForm>
