@using Shoap.Services.Contracts;
@inherits LayoutComponentBase
@inject IContextService ContextService;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        @if (ContextService.UserId == null)
        {
            <div class="top-row px-4">
                <a href="/SignIn">Sign In</a>
                <a href="/SignUp">Sign up</a>
            </div>
        }
        else
        {
            <div class="top-row px-4">
               <b>@ContextService.UserName</b>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>