@using Shoap.Services.Contracts;
@inherits LayoutComponentBase
@inject IContextService ContextService;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        @if (ContextService.User == null)
        {
            <div class="top-row px-4">
                <a href="/SignIn">Zaloguj się</a>
                <a href="/SignUp">Zarejestruj się</a>
            </div>
        }
        else
        {
            <div class="top-row px-4">
                <table>
                    <tr>
                        <td padding="0 15px"><b>@ContextService.User.Login</b></td>
                        <td>@ContextService.User.Money zł</td>
                        <td><a href="/Cart">Koszyk</a></td>
                    </tr>
                </table>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>